@import url('https://fonts.googleapis.com/css2?family=Piazzolla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ceviche+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway+Dots&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  min-height: 100%;
}

body {
  display: flex;
  padding: 100px;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 20px;
  background-color: #282a56;
}

.container {
  display: flex;
  justify-content: center;
  gap: 90px;
  flex-wrap: wrap;
}

.word {
  max-width: max-content;
  display: flex;
  gap: 20px;
}

.word > span {
  position: relative;
  padding: 20px 30px;
  width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90px;
  max-height: 90px;
  border: 6px solid grey;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.8s ease-in-out;
}

/* Sample CSS for the WHY word */

.whyWLetter {
  font-size: 72px;
  font-weight: bold;
  color: aqua;
  text-decoration: underline;
  text-transform: uppercase;
  font-family: 'Piazolla', sans-serif;
}

.whyHLetter {
  font-size: 30px;
  font-weight: bold;
  color: darkgoldenrod;
  text-decoration: overline;
  text-transform: lowercase;
  font-family: 'Ceviche One', sans-serif;
}

.whyYLetter {
  font-size: 60px;
  font-weight: normal;
  color: coral;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Raleway Dots', sans-serif;
}

/* DID word */

.didDLetter,
.frontendELetter,
.developerRLetter,
.becauseSLetter,
.theyHLetter,
.improveILetter,
.rootRLetter     {
  font-size: 60px;
  font-weight: normal;
  color: rgb(7, 192, 37);
  text-decoration: line-through mediumslateblue;
  text-transform: uppercase;
  font-family: 'Comic Sans MS', 'Comic Sans', cursive;
}

.didILetter,
.frontendNTwoLetter,
.gardeningDLetter,
.becauseULetter,
.wantedDLetter,
.skillsSLetter,
.skillsLTwoLetter  {
  font-size: 20px;
  font-weight: bold;
  color: rgb(243, 239, 3);
  text-decoration: overline red;
  text-transform: uppercase;
  font-family: 'Brush Script MT', 'Brush Script Std', cursive;
}

.didDTwoLetter,
.developerDLetter,
.takeKLetter, 
.gardeningELetter,
.wantedELetter,
.toTLetter,
.skillsSTwoLetter      {
  font-size: xx-large;
  font-weight: 100;
  color: rgb(1, 56, 4);
  text-decoration: underline overline burlywood;
  text-transform: uppercase;
  font-family: 'Apple Chancery', cursive;
}

/* THE word */

.theTLetter,
.frontendDLetter,
.gardeningRLetter,
.gardeningGTwoLetter,
.becauseETwoLetter,
.theirTLetter,
.theirILetter {
  font-size: 20px;
  font-weight: 900;
  color: rgb(129, 115, 110);
  text-decoration: wavy underline black;
  text-transform: uppercase;
  font-family: 'Trattatello', fantasy;
}

.theHLetter,
.developerLLetter,
.takeALetter,
.becauseBLetter,
.wantedTLetter,
.improveELetter,
.rootTLetter      {
  font-size: 60px;
  font-weight: 400;
  color: rgb(0, 0, 0);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Manufacturing Consent', system-ui;
}

.theELetter, 
.developerPLetter,
.upULetter,
.gardeningNTwoLetter,
.wantedNLetter,
.improveVLetter,
.rootOTwoLetter     {
  font-size: 100px;
  font-family: "Bitcount Grid Double", system-ui;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
    color:darkmagenta;
}

/* FRONT-END word */

.frontendFLetter,
.developerELetter,
.gardeningALetter,
.becauseALetter,
.wantedALetter,
.improveOLetter,
.theirHLetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(248, 11, 11);
  text-decoration: none;
  text-transform: uppercase;
  font-family: "my Soul", cursive;
 }

.frontendRLetter,
.developerETwoLetter,
.gardeningGLetter,
.gardeningILetter,
.theyTLetter,
.improveRLetter,
.skillsLLetter      {
  font-size: 40px;
  font-weight: normal;
  color: rgb(12, 88, 187);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Playwrite TZ Guides', cursive;
}

.frontendOLetter,
.developerEThreeLetter,
.takeTLetter,
.becauseELetter,
.theyELetter,
.improveMLetter,
.rootOLetter,
.hyphen,
.exclamation-mark,
.question-mark {
  font-size: 100px;
  font-weight: 400;
  color: rgb(0, 26, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Jazz LET', fantasy;
  text-shadow: 5px 5px red;
}

.frontendNLetter,
.developerVLetter,
.upPLetter,
.becauseCLetter,
.theyYLetter,
.improvePLetter,
.theirRLetter {
  font-size: 20px;
  font-weight: 600;
  color: rgb(247, 0, 255);
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Stencil Std', fantasy;
}

.frontendTLetter,
.developerOLetter,
.takeELetter,
.gardeningNLetter,
.wantedWLetter,
.toOLetter,
.theirELetter {
  font-size: 60px;
  font-weight: normal;
  color: rgb(0, 116, 6);
  text-decoration: wavy overline pink;
  text-transform: uppercase;
  font-family: 'URW Chancery L', cursive;
}

